/*nav*/

nav {
    background-color: #055da2;
}


/*slider*/

.slider .indicators .indicator-item.active {
    background-color: #055da2;
}


/*button*/

.btn,
.btn:focus {
    background-color: #055da2;
}

.btn:hover {
    background-color: #1a7dcc;
}


/*pagination*/

.pagination li.active {
    background-color: #055da2;
}


/*footer*/

footer.page-footer {
    background-color: #055da2;
}

/*blockquote*/

blockquote {
	border-left-color: #055da2;
}
