.primary_text {
	color: #055da2;
}

.no_margin {
	margin: 0;
}

.my_logo a img {
	vertical-align: middle;
}

.my_hotline {
	line-height: 50px;

}

.full_width {
	width: 100%;
}

nav#my_navbar.pinned {
	z-index: 3;
}

nav#my_navbar.pinned + .main {
	margin-top: 64px;
}

#search_form {
	position: relative;
	margin-top: -240px;
	z-index: 2;
}

#search_form .custom_checkbox {
	padding-left: 3rem;
}

nav#my_breadcrumb {
	background-color: inherit;
	box-shadow: none;
}

nav#my_breadcrumb a.breadcrumb,
nav#my_breadcrumb a.breadcrumb:before {
 	color: rgba(5, 93, 162, .7);
}

nav#my_breadcrumb a.breadcrumb:last-child {
	color: rgba(5, 93, 162, 1);
	cursor: default;
}

@media only screen and (max-width: 992px) {
	.reset_align {
		text-align: left;
	}
}

/*Content*/
/*div.post{
	padding: 1rem;
}

div.post img{
	max-width: 100%;
}

span.post-date{
	padding: 1rem;
	background-color: #f5f5f5;
}

.card-image{
	max-width: 30%;
	padding:0.2rem;
}

div.item-description{
	text-align: justify;
    text-justify: inter-word;
}

a.item-title{
	font-size: xx-large;
	color: #055da2;
}

a.item-title:hover{
	color: #039be5;
}

div.item-info{
	width: 100%;
	margin-top: 1rem;
}

div.item-info-row{
	width: 100%;
	height: 30px;
	position: relative;
}

div.item-info-row div{
	width: 100%;
	height: 100%;
	float: left;
}

div.item-info-value{
	text-align: right;
}

div.card-action{
	text-align: right;
}

div.detail-content{
	padding: 10px;
    text-justify: inter-word;
}

div.contact-content{
	padding: 10px;
}*/